@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 62.5%;
    font-family: Roboto;
}

#logo {
    width: 6rem;
}

header {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap:3rem;
    font-size: 1.7rem;
}

nav ul li {
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    font-weight: 600;
}

#description{
    font-size: 1.5rem;
}