html {
    font-size: 62.5%;
}

#logo {
    width: 6rem;
}

header {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap:3rem;
    font-size: 1.7rem;
}

nav ul li {
    list-style-type: none;

}

#description{
    font-size: 1.5rem;
}